anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
anon_upload_enable={{ anon_upload_enable }}
dirmessage_enable={{ dirmessage_enable }}
listen={{ listen }}
no_anon_password={{ no_anon_password }}
anon_root={{ anon_root }}
anon_umask= {{ anon_umask }}
